:root{
    /* Color variables */
    --Desaturated-dark-cyan: hsl(180, 29%, 50%);
    --Very-dark-grayish-cyan: hsl(180, 14%, 20%);
    --Bahama-blue: rgb(0, 102, 153);
    --Light-grayish-cyan: hsl(180, 52%, 96%);
    --Vary-dark-shade-of-cyan-blue: rgb(8,16,20);
    --Hover-color:#ffffff33;
    --Burlywood: hsl(34, 57%, 70%);

    /* Font variables */
    --font-family: "League Spartan", sans-serif;
}

body{
    background-color: var(--Desaturated-dark-cyan);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    color: var(--Light-grayish-cyan);


}

.container{
    background-color: var(--Bahama-blue);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:.3rem ;
    max-width: 58vw;
}
.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 5vw;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
}
.title{
    margin: 0;
    text-align: start;
    align-self: start;
    width: 50vw;
}
label{
    font-weight: bold;
}
.character-amount-container{
    display: flex;
    align-items: center;
}
.number-input{
    width: 2rem;
}
.password-display{
    background-color: var(--Light-grayish-cyan);
    color: var(--Vary-dark-shade-of-cyan-blue);
    padding: 1rem;
    height: 1.5rem;
    width: 50vw;
    word-break: break-all;
    border-radius: .3rem;
    
}
.btn{
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid var(--Light-grayish-cyan);
    color: var(--Light-grayish-cyan);
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: .3rem;
}.btn:hover{
    background-color: var(--Hover-color);
}
.title-green{
    color: var(--Burlywood);
   

}